/* Estilização básica do header */
header {
  background-color: #ff914d; /* Cor de fundo do header */
  color: #004aad; /* Cor do texto */
  padding: 10px 0; /* Espaçamento interno */
  display: flex; /* Exibe os elementos em uma linha flexível */
  justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
  align-items: center; /* Alinha os elementos verticalmente */
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Estilização dos links de navegação */
nav ul {
  list-style: none; /* Remove os marcadores de lista */
  display: flex; /* Exibe os elementos da lista em linha */
}

nav li {
  margin-right: 20px; /* Espaçamento entre os links */
}

nav a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #004aad; /* Cor dos links */
  font-weight: bold; /* Estilo de fonte negrito */
}

/* Estilização da div do logo */
.logo {
  margin-left: 20px; /* Espaçamento à esquerda da div do logo */
}

/* Estilo do logo (imagem) */
.logo img {
  max-width: 125px; /* Largura máxima da imagem do logo */
  height: auto; /* Altura automática de acordo com a largura */
}
